@import url(normalize.css);
@import url(reset.css);
@import url(https://use.typekit.net/ihp8mct.css);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

:root{
    --body-ff:'azo-sans-web', sans-serif;
    --title-ff:'azo-sans-web', sans-serif;
    --body-fz:1rem;
    --line-height:27px;
    --primary-c:#e21920;
    --secondary-c:#0c205c;
    --title-c:#252525;
    --typo-c:#989898;
    --table-primary-c:#eee;
    --table-secondary-c:#f9f9f9;
    --black:#000;
    --white:#fff;
    --con-width:1170px;
    --fw-bold:700;
    --fw-medium:500;
    --fw-regylar:400;
    --fw-light:300;
}
/*
typography
*/

body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    font-weight: var(--fw-light);
    line-height: var(--line-height);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--title-ff);
    color:var(--title-c);
}
.main_tt{
    font-size: calc(var(--body-fz)*3.31);
    font-weight: var(--fw-bold);
    line-height: calc(var(--line-height)*2.7);
    text-transform: uppercase;
    color: var(--white);
}
.sub_tt{
    font-size: calc(var(--body-fz)*1.37);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    text-align: center;
    line-height: var(--line-height);

}
.content_tt{
    font-size: calc(var(--body-fz)*2.25);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    line-height: calc(var(--line-height)*1.7);
    text-align: center;
}
.content_desc{
    width: 770px;
    margin: 17px auto calc(var(--line-height)*2);
    text-align: center;
}
.sub_desc{
    width: 270px;
    margin: 0 auto;
}
.content_sub_tt{
    font-size: calc(var(--body-fz)*1.37);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    line-height: calc(var(--line-height)*1.7);
}
.content_sub_part_tt{
    font-weight: var(--fw-light);
    text-transform: uppercase;
}
.content_sub_part_desc{
    font-size: calc(var(--body-fz)*0.75);
}
.result_2020{
    font-size: calc(var(--body-fz)*1.18);
    font-weight: var(--fw-bold);
    line-height: calc(var(--line-height)*0.66);
    color: var(--white);
    text-align: center;
}
.result_2021{
    font-size: calc(var(--body-fz)*1.87);
    font-weight: var(--fw-bold);
    line-height: calc(var(--line-height)*0.66);
    color: var(--white);
    text-align: center;
}
.counter_tt{
    font-size: calc(var(--body-fz)*0.75);
    font-weight: var(--fw-bold);
    line-height: calc(var(--line-height)*0.66);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}
.figure_y{
    font-weight: var(--fw-bold);
    color: var(--white);
}
.figure_x{
    font-size: calc(var(--body-fz)*1.18);
    font-weight: var(--fw-bold);
    color: var(--white);
}
.tab_tt{
    font-size: calc(var(--body-fz)*1.18);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}
.caption_tt{
    width: 170px;
    font-size: calc(var(--body-fz)*0.75);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    text-align: center;
}
.banner_tt{
    font-size: calc(var(--body-fz)*1.37);
    font-weight: var(--fw-bold);
    color: var(--white);
    text-transform: uppercase;
}
.banner_desc{
    width: 670px;
    font-weight: var(--fw-light);
    color: var(--white);
    margin: var(--line-height) 0;
}

.primary_color {
    color: var(--primary-c);
}
.secondary_color {
    color: var(--secondary-c);
}
.w_color{
    color:var(--white);
}
.btn{
    background: var(--white);
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    transition:0.4s;
}
.btn::after{
    content: '';
    position: absolute;
    background: var(--black);
    padding: 10px;
    transition: 0.4s;
    z-index: -1;
    left: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
}
.big.btn{
    height: 44px;
    border: 1px solid var(--black);
    text-transform: uppercase;
    box-shadow:none; 
}
.big.icon.btn{
    height: 44px;
    border: 1px solid var(--black);
    text-transform: uppercase;
    text-align: left;
    box-shadow:none;  
}
.big.btn.slide_btn{
    height: 75px;
    border: 0px solid var(--black);
    text-transform: uppercase;
    box-shadow:none; 
    background-color: transparent;
    color: #fff;
    gap: 30px;
}
.main_slide p{
    margin: 0 auto;
    position: absolute;
    left: 0; right: 0; bottom: calc(var(--line-height)*2.5);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}
/* .main_slide p .quick{
    width: 570px;
    display: flex;
    justify-content: space-between;
} */
.normal.btn{
    height: 36px;
    border: 1px solid var(--black);
    white-space: nowrap;
    overflow: hidden; 
    box-shadow:none; 
}

.btn:hover:after{
    box-shadow:inset -3px 0 var(--primary-c);
    left: 0; right: 0;top: 0;bottom: 0;
}
.btn:hover{
    color: var(--white);
}
/*
LAYOUT
*/
.container{
    width: var(--con-width);
    margin:0 auto;
}
.hidden{
    display: none;
}
.con-pd{
    padding-top: calc(var(--line-height)*3);
}
.con-top-pd{
    padding-top: calc(var(--line-height)*2);
}
header{
    position: absolute;
    z-index:999;
    left: 0;
    right: 0;
    padding: 34px 0;
    transition: 0.3s;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    gap:60px;
}
header nav ul{
    display: flex;
    gap:35px;
}
.logo a{
    width: 78px;
    height: 33px;
    background: url(../img/logo_wh.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
header nav ul li a{
    color: var(--white);
}
header nav ul li a:hover{
    color: var(--primary-c);
}
.footer_tt{
    font-size: calc(var(--body-fz)*0.75);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--white);
}
.footer_sub_tt{
    font-size: calc(var(--body-fz)*0.75);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    color: var(--white);
}
.footer_info{
    font-size: calc(var(--body-fz)*0.62);
    font-weight: var(--fw-light);
    line-height: calc(var(--line-height)*0.74);
    text-transform: uppercase;
    color: #525252;
}
footer{
    height: 346px;
    background: var(--black);
    display: flex;
}

footer .footer_menu img{
    width: 178px;
    height: 77px;
    margin-right: 380px;
}
footer .footer_menu{
    display: flex;
    padding-bottom: var(--line-height);

}
footer .footer_menu div>ul{
    display: flex;
    gap:41px;
    white-space: nowrap;
}
footer .footer_info{
    display: flex;
    justify-content: space-between;
}
footer hr{
    width: 100%;
    height: 1px;
    background-color: var(--title-c);
    border: 0px;
    margin: var(--line-height) 0;
}
footer .footer_info div{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
footer .footer_info img{
    width: 23px;
    height: 28px;
}
footer .material-symbols-rounded{
    color: var(--white);
}
footer select{
    text-transform: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 20px;
    background: #000;
    color: #fff;
}
.footer_menu ul li ul li{
    cursor: pointer;
}