@import url(common.css);
.main_slide{
    height: 100vh;
}
.slide_wrapper{
    overflow: hidden;
    position: relative;
}
.slide_container{
    height: 100%;
    left: 0;
    transition: left 0.4s ease-out;
    display: flex;
}
.main_slide li{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content:flex-start;
    z-index: 1;
}
.main_slide .container::before{
    content: '';
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.main_slide .slide1{
    background-image: url(../img/bg1.png);
}
.main_slide .slide2{
    background-image: url(../img/bg2.png);
}
.main_slide .slide3{
    background-image: url(../img/bg3.png);
}
.main_slide .slide4{
    background-image: url(../img/bg4.jpg);
}
.main_slide .slide5{
    background-image: url(../img/bg5.jpg);
}
.main_slide .container{
    width: 840px;
    text-align: left;
    margin: calc(var(--line-height)*6) auto;
    color: var(--white);
}
.main_slide .btns{
    position: absolute;
}

/* SERVICE */

.sevices_list{
    display: flex;
    gap: 30px;

}
.sevices_list li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    border: 1px solid #c8c8c8;
    border-top: 3px solid var(--primary-c);
    border-bottom: 3px solid var(--secondary-c);
    box-sizing: border-box;
    box-shadow:none;
    transition: 0.4s;
}
.sevices_list li:nth-child(2) img{
    transform: scale(0.8) translate(-5px,-5px);
    transition: 0.4s;
}
.sevices_list li:hover{
    box-shadow: 7px 10px 0 rgba(0, 0, 0, .3);
    transform: translate(-10px,-10px);
}
.sevices_list li:nth-child(2):hover img{
    transform: scale(0.9) translate(-5px,-5px);
}
.sevices_list li div{
    width: 270;
    height: 190px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sevices_list li div img{
    width: 90px;
    margin: 35px 0 70px 0;
    transition: 0.4s;
}
.sevices_list li:hover div img{
    width: 90px;
    margin: -160px 0 70px 0;
    
}


.sevices_list .sub_tt{
    margin: var(--line-height) 0;
}
.sevices_list .sub_desc{
    width: 275px;
    overflow: hidden;
}
.sevices_list li a{
    margin: 20px 0;
}
.sevices_list li span{
    font-size: 75px;
    margin-bottom: var(--line-height);
}



/* WORK NEWS */

.works_news li{
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--line-height)*2);
}
.works_news li:nth-child(2n) img{
    order: 1;
}
.works_news li .desc{
    width: 565px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* RESULT */

.result .content_wrap{
    background-image: url(../img/graph_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 270px;
    position: relative;
}
.result .content_wrap:before{
    content: '';
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.result .content{
    position: absolute;
    width: 980px;
    height: 200px;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}

.result .content_sub_part_tt{
    color: #b6b6b6;
}
.upline{
    display: none;
}
.result .graph_line img{
    margin-bottom: calc(var(--line-height)*2);
}
.figure_tt{
    font-size: 1.87em;
    color: var(--white);
    font-weight: var(--bord);
}



/* GALLRY */

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery_list li{
    display: flex;
}
.gallery ul a{
    display: none;
}






















/* ANIMATION */
.content_tt,.content_desc {
    animation:fadeInUp;
    animation-duration: 2s; 
}
.service>ul li{
    animation:fadeInUp;
    animation-duration: 2s; 
    animation-delay: 0.2s;
}